@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #202020;
  --clr-blue: #434BD9;
  --clr-blue-2: #4c46b6;
  --font: "Exo 2";
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("img/dalle-blockchain1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p {
  color: var(--clr-white);
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav-brand h1 {
  color: var(--clr-white);
  font-size: clamp(1.75em, 4vw, 2.5em);
  font-weight: 1000;
}

.nav-connect {
  width: 175px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border: none;
  border-radius: 4px;
  font-family: var(--font), sans-serif;
  font-weight: 800;
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav-connect:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- FORM -- */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 25px
}

form input[type="text"] {
  width: 344px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid var(--clr-blue);
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  padding: 10px;
  font-size: 16px;
}

form input[type="submit"],
button.ui {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  width: 344px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-family: var(--font), sans-serif;
  font-weight: 800;
  font-size: 1.10em;
  font-weight: 400;
  cursor: pointer;
  transition: all 250ms ease;
}

form input[type="submit"]:hover,
button.ui:hover {
  background-color: var(--clr-blue-2);
}

/* Container */
.select-container {
  position: relative;
  width: 344px;
}

/* Dropdown */
.select-container {
  font-size: 16px;
}

.select-dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--clr-white);
  cursor: pointer;
}

/* Arrow Icon */
.select-container:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* ------------------------------------------------------ */
/* -- IMAGE -- */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  width: 512px;
  height: 512px;
  margin: 0 25px;
  border: 3px solid var(--clr-blue);
  border-radius: 4px;
  background-color: var(--clr-white);
}

.image img {
  width: 512px;
  height: 512px;
  border-radius: 6px;
}

/* .image-placeholder {
  border: 1px solid red;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.image-placeholder p {
  margin: 0 10px;
}

.image-grid {
  display: grid;
  grid-template-columns: 256px 256px;
  grid-template-rows: 256px 256px;
  gap: 0px 0px;
}

.selected-image {
  border: 5px solid red;
}

/* ------------------------------------------------------ */
/* -- TEXT -- */
p {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.message {
  color: var(--clr--black);
  display: block;
}

div.mint-message {
  font-weight: bold;
  font-size: 18px;
  color: var(--clr-white);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
  }
}

/* ------------------------------------------------------ */
/* -- SPINNER -- */

Spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin: 10px 0 0 0;
  width: 344px;
  height: 50px;
  padding: 10px;

}

.spinner Spinner {
  color: var(--clr-blue);
}

.image-placeholder > .spinner-border {
  display: block !important;
  margin: 0 auto;
}
